<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee List</title>
</head>
<body>
<th:block th:insert="Header.html"]></th:block>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary text-white"><h5>Employee List</h5></div>
			<div class="card-body">
				<table class="table table-stripted">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phone</th>
							<th>Company</th>
							<th>Department</th>
							<th>City</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${empList}">
							<td>[[${e.fname}]]</td>
							<td>[[${e.lname}]]</td>
							<td>[[${e.phone}]]</td>
							<td>[[${e.company}]]</td>
							<td>[[${e.department.dpt_name}]]</td>
							<td>[[${e.address.city}]]</td>
							<td>
								<a th:href="@{/employee/edit(id=${e.id})}"><input type="submit" value="Edit" class="btn btn-success"></a>
								<a th:href="@{/employee/delete(id=${e.id})}"><input type="submit" value="Delete" class="btn btn-danger"></a>
								<a th:href="@{/employee/view(id=${e.id})}"><input type="submit" value="View" class="btn btn-primary"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer text-center bg-warning"><h6>copyright@2023</h6></div>
		</div>
	</div>
</body>
</html>