<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<style>
body{
    height: 80vh;
} 
.container{
    height: 80%;
}
</style>
</head>
<body>

<th:block th:insert="Header.html"]></th:block>
<div class="container d-flex align-items-center justify-content-center text-center">
  <div>
    <h2>Simple Elegant Beautiful</h2><br>
    <p>A simple Student Management System that allows to create student and teacher with added user signup and login functionalities.</p>
  </div>
</div>

</body>
</html>